.mediaViewInfo {
	--web-view-name: Main Page;
	--web-view-id: Main_Page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-scale-on-double-click: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Main_Page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Main_Page_Class {
	position: absolute;
	width: 1366px;
	height: 625px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Main Page;
	--web-view-id: Main_Page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-scale-on-double-click: true;
	--web-enable-deep-linking: true;
}
.Path_1_Class {
	fill: rgba(80,76,142,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 378px;
	height: 533px;
	left: 0px;
	top: 92px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_9_Class {
	fill: rgba(13,19,113,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 918px;
	height: 92px;
	left: 0px;
	top: 0px;
}
.Unofficial_Red_Mountain_ARC_Re_Class {
	left: 128px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 712px;
	white-space: nowrap;
	text-align: left;
	font-family: MS Reference Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(243,199,46,1);
}
.rmhs_Class {
	position: absolute;
	width: 96px;
	height: 70px;
	left: 0px;
	top: 555px;
	overflow: visible;
}
.Component_5__1_Class {
	position: absolute;
	width: 224px;
	height: 46px;
	left: 918px;
	top: 46px;
	overflow: visible;
}
.Rectangle_10_Class {
	fill: rgba(38,31,143,1);
	stroke: rgba(243,199,46,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 46px;
	left: 0px;
	top: 0px;
}
.Component_4__1_Class {
	position: absolute;
	width: 224px;
	height: 46px;
	left: 1142px;
	top: 46px;
	overflow: visible;
}
.Rectangle_11_Class {
	fill: rgba(38,31,143,1);
	stroke: rgba(243,199,46,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 46px;
	left: 0px;
	top: 0px;
}
.Component_2__1_Class {
	position: absolute;
	width: 224px;
	height: 46px;
	left: 918px;
	top: 0px;
	overflow: visible;
}
.Rectangle_12_Class {
	fill: rgba(38,31,143,1);
	stroke: rgba(243,199,46,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 46px;
	left: 0px;
	top: 0px;
}
.Component_3__1_Class {
	position: absolute;
	width: 224px;
	height: 46px;
	left: 1142px;
	top: 0px;
	overflow: visible;
}
.Rectangle_13_Class {
	fill: rgba(38,31,143,1);
	stroke: rgba(243,199,46,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 46px;
	left: 0px;
	top: 0px;
}
.Data_Parser_Class {
	left: 973px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(255,255,255,1);
}
.favicon-96x96_Class {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.favicon-96x96_v_Class {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.CREATORS_Class {
	left: 90px;
	top: 133px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	text-align: left;
	font-family: MS Reference Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(243,199,46,1);
}